<header>
	<div id="topbar">
		<div id="logo"></div>
		<div id="search-form">
			<%- partial('partials/form.ejs', {words: keywords}) %>
		</div>
		<div id="login">
			<% if (!user) { %>		
				<%- partial('../auth/partials/form.ejs') %>
			<% } else { %>
				<span class="username">Hello, <%= user.username%></span><button onclick="window.location.href='/logout';" class="btn btn-red">Logout</button>
			<% } %>
		</div>
	</div>
</header>
<div id="content">
<h1>Résultats de votre recherche (Durée : <%= elapsed %> )</h1>
	<% _.each(pages, function(page)  { %>
	<a href="<%= page.url %>">
		<div class="page-box">
			<span class="title"><%= page.title %></span>
			<span class="url"><%= page.url %></span>
			<div class="description"><%= page.description %></div>
		</div>
	</a>
	<% }); %>
</div>
<div id="more-results">
    <% if (length >= 50) { %>
    <a href="/more?id=<%= search_id %>&from=<%= (length - 50) %>" class="btn btn-blue">Previous page</a>
    <% } %>
    <a href="/more?id=<%= search_id %>&from=<%= length %>" class="btn btn-green">Next page</a>
</div>
